# Dependencies
node_modules

package-lock.json

# Logs
logs
*.log

# Temp directories
.temp
.tmp
.cache

# Generated dirs
dist
.data
.nuxt
.nuxt-*
.nitro
.vercel
.netlify
.output
.output-*
.gen

# Coverage reports
coverage

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history

# Intellij idea
*.iml
.fleet
.idea

# OSX
.DS_Store
.AppleDouble
.LSOverride

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

.env
!.env.example

.vercel_build_output
.build-*
.netlify

.pnpm-store
eslint-typegen.d.ts
.eslintcache
prisma-generated